# ==============================
# Frontend (React / Node.js)
# ==============================
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Backend (C# / .NET)
# ==============================
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

# ==============================
# Banco de Dados (SQLite)
# ==============================
# Ignora o banco de dados para não subir dados de teste e não gerar conflitos de merge
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
banco.db

# ==============================
# Sistema Operacional e IDEs
# ==============================
.vscode/
.DS_Store
Thumbs.db